<%= render '/shared/title', title: '店家註冊'%>

<style>
.well{
  margin-left: 25%;
  margin-right:25%;
  background-color: rgba(255,255,255,0.5);
}
label{
  font-size:30px;
}

</style>

<div class="well col-md-6">
  <%= form_for @store do |f| %>
  <div class="form-group">
    <%= f.label :store_name %>
    <br>
    <%= f.text_field :store_name, class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <br>
    <%= f.text_field :email, class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :tax_ID %>
    <br>
    <%= f.text_field :tax_ID, class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <br>
    <%= f.password_field :password, class:"form-control"%>
  </div>
  <br>
  <div class="text-center">
  <%= f.submit(@store.new_record? ? '確認註冊' : 'Update Profile', class: 'btn btn-lg btn-success') %>
  </div>
  <% end %>
</div>