<link rel="stylesheet" href="stylesheet/circle.css">

<style>
.jumbotron{
  margin-left: 20%;
  margin-right:20%;
  background-color: rgba(255,255,255,0.5);
  border-radius:5px;
}
#search_table{
  width: 100%;
}
h2{
  font-weight: 700;
}

#container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}
</style>

<div class="jumbotron text-center">
	<table id="search_table">
		<td>
			<h1><%= params[:search]%></h1>
		</td>

		<td>
			<% case @credit_rank %>
			<% when 1 %>		
				<tr>
					<td>
						<h2> 極度惡劣的客戶，建議不要提供服務 </h2>
					</td>
					<td>
						<%= content_tag :div, id: "container", data: {creditrank: @credit_rank} do %>
						<% end %>
					</td>
				</tr>

			<% when 2 %>		
				<tr>
					<td>
						<h2> 極度惡劣的客戶，建議不要提供服務 </h2>
					</td>
					<td>
						<%= content_tag :div, id: "container", data: {creditrank: @credit_rank} do %>
						<% end %>
					</td>
				</tr>

			<% when 3 %>		
				<tr>
					<td>
						<h2> 極度惡劣的客戶，建議不要提供服務 </h2>
					</td>
					<td>
						<%= content_tag :div, id: "container", data: {creditrank: @credit_rank} do %>
						<% end %>
					</td>
				</tr>

			<% when 4 %>	
				<tr>
					<td>
						<h2> 有許多不良紀錄，若要招待務必三思 </h2>
					</td>
					<td>
						<%= content_tag :div, id: "container", data: {creditrank: @credit_rank} do %>
						<% end %>
					</td>
				</tr>

			<% when 5 %>	
				<tr>
					<td>
						<h2> 有許多不良紀錄，若要招待務必三思 </h2>
					</td>
					<td>
						<%= content_tag :div, id: "container", data: {creditrank: @credit_rank} do %>
						<% end %>
					</td>
				</tr>

			<% when 6 %>	
				<tr>
					<td>
						<h2> 有許多不良紀錄，若要招待務必三思 </h2>
					</td>
					<td>
						<%= content_tag :div, id: "container", data: {creditrank: @credit_rank} do %>
						<% end %>
					</td>
				</tr>

			<% when 7 %>
				<tr>
					<td>
						<h2> 有過不良紀錄 </h2>
					</td>
					<td>
						<%= content_tag :div, id: "container", data: {creditrank: @credit_rank} do %>
						<% end %>
					</td>
				</tr>
			
			<% when 8 %>
				<tr>
					<td>
						<h2> 有過不良紀錄 </h2>
					</td>
					<td>
						<%= content_tag :div, id: "container", data: {creditrank: @credit_rank} do %>
						<% end %>
					</td>
				</tr>
				
			<% when 9 %>
				<tr>
					<td>
						<h2> 有過不良紀錄 </h2>
					</td>
					<td>
						<%= content_tag :div, id: "container", data: {creditrank: @credit_rank} do %>
						<% end %>					
					</td>
				</tr>

			<% when 10%>
				<tr>
					<td>
						<h2> 目前狀況良好 </h2>
					</td>
					<td>
						<%= content_tag :div, id: "container", data: {creditrank: @credit_rank} do %>
						<% end %>
					</td>
				</tr>
			<% end %>

		</td>
	</table>

</div>

<script>

ProgressBarRun($('#container').data('creditrank'))
function ProgressBarRun(credit_rank){
	var bar = new ProgressBar.Circle(container, {
	// This has to be the same size as the maximum width to
	// prevent clipping
	strokeWidth: 4,
	trailWidth: 1,
	easing: 'easeInOut',
	duration: 1400,
	text: {
		autoStyleContainer: false
	},
	from: { color: '#BB3D00', width: 4 },
	to: { color: '#00BB00', width: 4 },
	// Set default step function for all animate calls
	step: function(state, circle) {
		circle.path.setAttribute('stroke', state.color);
		circle.path.setAttribute('stroke-width', state.width);

		var value = Math.round(circle.value() * 10);
		if (value === 0) {
		circle.setText('');
		} else {
		circle.setText(value);
		}
		circle.text.style.color = state.color;
	}
	});

	bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
	bar.text.style.fontSize = '5rem';

	bar.animate(credit_rank/10);  // Number from 0.0 to 1.0

}
	
</script>
